body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  position: relative;
  font-size: 14px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
  opacity: 0.9;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  font-family: Arial, sans-serif;
  width: 98vw !important;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.back-button-div {
  flex-shrink: 0; /* Prevents shrinking */
  width: auto; /* Adjusts based on button size */
  margin-right: 10px;
}

.main-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0; /* This ensures it sticks to the top of the viewport */
  z-index: 1000; /* Optional: makes sure it stays above other content */
  background-color: rgb(33, 33, 33);
}

.album-list {
  list-style: none;
  padding: 20px;
}

.album-list,
tr {
  padding: 20px;
}

td {
  color: rgb(203, 203, 203);
}

th {
  color: rgb(203, 203, 203);
  border-bottom: 1.5px solid #333;
  padding-bottom: 4px;
  padding-top: 2px;
}

.album-list-table {
  background-color: #222; /* Darker row */
  width: auto;
}

.container {
  margin: auto;
  font-family: Arial, sans-serif;
}

#artistDropdown,
#labelDropdown {
  /* width: 100px; */
  width: auto;
}

#yearDropdown {
  width: 80px;
}

select,
button,
.search-input {
  padding: 8px;
  font-size: 14px;
}

.album-list {
  width: 22.5%;
  list-style: none;
  padding: 2px 10px;
  max-width: 35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(203, 203, 203) !important;
}

select,
.search-input {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: rgb(203, 203, 203) !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

select:focus,
.search-input:focus {
  outline: none;
  border-color: #999; /* Optional: Slightly darker border */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Inner shadow effect */
}

.search-input {
  width: auto;
  padding-left: 30px; /* Make space for the icon */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><path fill-rule="evenodd" d="M8.5 2a6.5 6.5 0 0 1 5.2 10.36l3.47 3.47a1 1 0 1 1-1.42 1.42l-3.47-3.47A6.5 6.5 0 1 1 8.5 2zm0 2a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9z" clip-rule="evenodd"/></svg>')
    no-repeat 10px center;
  background-size: 16px;
  border: 0.5px solid #8d8d8d9d;
  box-shadow: 0 0 5px rgba(70, 70, 70, 0.663); /* Optional: Add a glow effect */
}

#rescanBtn,
.select-folder-button {
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.back-button,
#rescanBtn,
.select-folder-button {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: rgb(203, 203, 203);
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  text-align: justify;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
  color: rgb(212, 212, 212);
}

.clickable:hover {
  text-decoration: underline;
  color: rgb(236, 236, 236) !important;
}

.select-folder-button {
  display: flex;
  justify-content: center;
}

.year-row {
  text-align: center;
  width: 10vw !important;
}

.song-list {
  margin-top: 30px;
  color: rgb(160, 164, 167);
}

.album-cover {
  width: 100%; /* Make it scale to the column size */
  max-width: 500px; /* Prevent it from getting too large */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure it fills the available space properly */
}

.clickable-song {
  cursor: pointer;
  color: rgb(215, 215, 215);
  display: flex;
  align-items: center;
  margin: 0px 0px 8px 0px;
}

.song-duration {
  color: rgb(215, 215, 215);
}

.clickable-song:hover {
  color: rgb(235, 235, 235);
}

.clickable-song.playing {
  color: rgb(230, 230, 230);
}

.right-end-buttons {
  display: flex;
}

.toggle-album {
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.album-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  margin-bottom: 10px;
}

.expanded-album {
  background-color: #222;
  display: column;
  align-content: start;
}

.playBtn,
.prevBtn,
.nextBtn {
  margin-right: 7px;
  width: 50px;
  height: 35px;
  background-color: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}

.playBtnSmll {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  margin-right: 7px;
  font-size: x-small;
  width: 50px;
  height: 35px;
  background-color: rgb(82, 82, 82);
  color: rgb(210, 210, 210);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.prevBtn,
.nextBtn {
  margin: 7px 0px 0px 7px;
}

.audio-player {
  margin-left: 40px;
}

.expanded-cell {
  color: transparent !important;
  pointer-events: none;
}

.expanded-album-info {
  color: rgb(200, 200, 200);
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0px;
}

.expanded-album-label {
  color: rgb(220, 220, 220);
  font-size: medium;
  margin-top: 7px;
  margin-bottom: 20px;
}

tbody tr {
  transition: background-color 0.3s ease-in-out;
}

table {
  border-collapse: collapse; /* Removes spacing between cells */
  width: 100%; /* Ensures full width */
}

.audioInput {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 100%;
  height: 6px;
  background: #555;
  border-radius: 3px;
  outline: none;
  transition: opacity 0.2s;
}

.audioInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: rgb(185, 185, 185); /* Change circle color */
  border-radius: 50%;
  cursor: pointer;
}

.audioInput {
  width: 250px;
}

.row-dark {
  background-color: #222;
}

.row-light {
  background-color: #333;
}

.toggle-album-container {
  display: flex;
  flex-direction: row;
}

.folder-icon {
  height: 0px;
  padding: 0px;
}

.turntable {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #0c0c0c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin-left: 70px;
}

/* Vinyl Record */
.vinyl {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle, #111 30%, #000 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.vinyl-texture {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: repeating-radial-gradient(
    circle,
    rgba(106, 103, 103, 0.05) 0px,
    rgba(141, 139, 139, 0.1) 3px,
    transparent 4px
  );
}

.album-art {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
}

.center-label {
  position: absolute;
  width: 3%;
  height: 3%;
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
}

/* Spinning Effect */
.spinning {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tonearm (Using an Image) */
.tonearm {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  right: -87px;
  transform-origin: top right;
  transform: rotate(4deg);
  transition: transform 0.3s ease-in-out;
}

.tonearm img {
  height: 230px;
  width: auto;
}

.playing-arm {
  transform: rotate(13deg);
}

.audio-equalizer {
  width: 350px;
  height: 100px;
}

canvas {
  background: transparent;
}

.clickable-artist:hover,
.clickable-label:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(236, 236, 236);
}

.bottom-player {
  background: #222;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
