body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(89, 89, 89, 0.465);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/5.jpg) center/cover no-repeat;
  background-color: rgb(136, 136, 136);
  opacity: 0.9; /* Adjust this for transparency */
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  font-family: Arial, sans-serif;
  width: 95vw !important; 
}

.main-bar {
  display: flex;
  justify-content:space-between;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.back-button-div {
  flex-shrink: 0; /* Prevents shrinking */
  width: auto; /* Adjusts based on button size */
  margin-right: 10px;
}

select,
button {
  padding: 8px;
  font-size: 16px;
  background-color: rgba(73, 73, 111, 0.372);
  color: aliceblue;
}

.album-list {
  list-style: none;
  padding: 20px;
}

.album-list,
tr {
  padding: 20px;
  cursor: pointer;
}

td {
  background-color: rgb(187, 186, 186);
  color: rgb(33, 48, 79);
}

th {
  color: rgba(255, 255, 255, 0.8);
}

.album-list-table {
  background-color: rgba(51, 53, 53, 0.692);
  width: auto;
}

.container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

select,
button {
  padding: 8px;
  font-size: 16px;
}

.album-list {
  width: 22.5%;
  list-style: none;
  padding: 2px 10px;
  max-width: 35vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(73, 73, 111);
  text-align: center;
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000;
}

select {
  padding: 8px 12px;
  background-color: rgba(73, 73, 111, 0.807);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#rescanBtn,
.select-folder-button {
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.back-button,
#rescanBtn,
.select-folder-button {
  padding: 8px 12px;
  background-color: rgba(73, 73, 111, 0.807);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  text-align: justify;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.back-button:hover,
#rescanBtn:hover,
.select-folder-button:hover  {
  background-color: rgb(73, 73, 111);
}

.clickable {
  cursor: pointer;
  color: rgb(86, 20, 148);
}

.clickable:hover {
  text-decoration: underline;
}

.select-folder-button {
  display: flex;
  justify-content: center;
}

.year-row {
  text-align: center;
  width: 10vw !important;
}

.song-list {
  padding-left: 45px;
}

.album-cover {
  width: 150px; /* Adjust as needed */
  height: auto;
  border-radius: 8px; /* Optional: Rounded corners */
  margin-bottom: 10px;
  display: block;
}

.clickable-song:hover {
  color: rgb(86, 20, 148);
}

.right-end-buttons {
  display: flex;
}