body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  position: relative;
  font-size: 14px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url(../image/5.jpg) center/cover no-repeat; */
  background-color: rgb(33, 33, 33);
  opacity: 0.9; /* Adjust this for transparency */
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  font-family: Arial, sans-serif;
  width: 98vw !important;
}

.main-bar {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.back-button-div {
  flex-shrink: 0; /* Prevents shrinking */
  width: auto; /* Adjusts based on button size */
  margin-right: 10px;
}

select,
button {
  padding: 8px;
  font-size: 16px;
  background-color: rgba(73, 73, 111, 0.372);
  color: aliceblue;
}

.album-list {
  list-style: none;
  padding: 20px;
}

.album-list,
tr {
  padding: 20px;
  cursor: pointer;
}

td {
  color: rgb(212, 212, 212);
}

th {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1.5px solid #333;
  padding-bottom: 4px;
  padding-top: 2px;
}

.album-list-table {
  background-color: #222; /* Darker row */
  width: auto;
}

.container {
  margin: auto;
  font-family: Arial, sans-serif;
}

select,
button {
  padding: 8px;
  font-size: 16px;
}

.album-list {
  width: 22.5%;
  list-style: none;
  padding: 2px 10px;
  max-width: 35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(232, 232, 232) !important;
}

/* h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(73, 73, 111);
  text-align: center;
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000;
} */

select {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#rescanBtn,
.select-folder-button {
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.back-button,
#rescanBtn,
.select-folder-button {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  text-align: justify;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
  /* color: rgb(86, 20, 148); */
  color: rgb(212, 212, 212);
}

.clickable:hover {
  text-decoration: underline;
}

.select-folder-button {
  display: flex;
  justify-content: center;
}

.year-row {
  text-align: center;
  width: 10vw !important;
}

.song-list {
  margin-top: 30px;
  color: rgb(160, 164, 167);
}

.album-cover {
  width: 100%; /* Make it scale to the column size */
  max-width: 500px; /* Prevent it from getting too large */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure it fills the available space properly */
}

.clickable-song {
  cursor: pointer;
  color: rgb(205, 205, 205);
}

.song-duration {
  color: rgb(205, 205, 205);
}

.clickable-song:hover {
  color: rgb(169, 169, 169);
}

.clickable-song.playing {
  font-weight: bold;
  color: rgb(160, 160, 214);
}

.right-end-buttons {
  display: flex;
}

.toggle-album {
  padding: 1px 8px;
  color: rgb(172, 172, 172);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.album-cover-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: start; /* Center vertically (optional) */
  height: auto; /* Prevent it from getting too large */
  margin-bottom: 10px;
}

.expanded-album {
  /* background-color: rgb(54, 54, 54); */
  background-color: #222; /* Darker row */
  display: column;
  align-content: start;
}

.playBtn,
.prevBtn,
.nextBtn {
  margin-right: 7px;
  font-size: small;
  width: 50px;
  height: 35px;
  background-color: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.prevBtn,
.nextBtn {
  margin: 7px 0px 0px 7px;
}

.audio-player {
  margin-left: 40px;
}

.expanded-cell {
  /* background-color: rgb(54, 54, 54); */
  background-color: #222 !important; /* Darker row */
  color: rgb(54, 54, 54);
  color: transparent !important; /* Make text invisible */
  pointer-events: none; /* Disable interaction */
}

.expanded-album-info {
  color: rgb(191, 191, 191);
  font-size: x-large;
  margin-bottom: 0px;
}

.expanded-album-label {
  color: rgb(149, 149, 149);
  font-size: medium;
  margin-top: 7px;
  margin-bottom: 20px;
}

tbody tr:nth-child(odd) {
  background-color: #222; /* Darker row */
}

tbody tr:nth-child(even) {
  background-color: #333; /* Lighter row */
}

tbody tr {
  transition: background-color 0.3s ease-in-out;
}

table {
  border-collapse: collapse; /* Removes spacing between cells */
  width: 100%; /* Ensures full width */
}

.audioInput {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 100%;
  height: 6px;
  background: #555; /* Track color */
  border-radius: 3px;
  outline: none;
  transition: opacity 0.2s;
}

/* WebKit (Chrome, Safari) */
.audioInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: rgb(185, 185, 185); /* Change circle color */
  border-radius: 50%;
  cursor: pointer;
}

.audioInput {
  width: 250px;
}

.waveform {
  width: 100%;
  height: 50px;
  background: #222; /* Background color */
  border-radius: 5px;
}


