body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  position: relative;
  font-size: 14px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
  opacity: 0.9;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  font-family: Arial, sans-serif;
  width: 98vw !important;
}

.main-bar {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.back-button-div {
  flex-shrink: 0; /* Prevents shrinking */
  width: auto; /* Adjusts based on button size */
  margin-right: 10px;
}

.album-list {
  list-style: none;
  padding: 20px;
}

.album-list,
tr {
  padding: 20px;
  cursor: pointer;
}

td {
  color: rgb(212, 212, 212);
}

th {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1.5px solid #333;
  padding-bottom: 4px;
  padding-top: 2px;
}

.album-list-table {
  background-color: #222; /* Darker row */
  width: auto;
}

.container {
  margin: auto;
  font-family: Arial, sans-serif;
}

select,
button,
.search-input {
  padding: 8px;
  font-size: 14px;
}

.album-list {
  width: 22.5%;
  list-style: none;
  padding: 2px 10px;
  max-width: 35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(183, 183, 183) !important;
}

select,
.search-input {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: rgb(185, 185, 185);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

select:focus,
.search-input:focus {
  outline: none;
  border-color: #999; /* Optional: Slightly darker border */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Inner shadow effect */
}

.search-input {
  width: auto;
  padding-left: 30px; /* Make space for the icon */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><path fill-rule="evenodd" d="M8.5 2a6.5 6.5 0 0 1 5.2 10.36l3.47 3.47a1 1 0 1 1-1.42 1.42l-3.47-3.47A6.5 6.5 0 1 1 8.5 2zm0 2a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9z" clip-rule="evenodd"/></svg>')
    no-repeat 10px center;
  background-size: 16px;
  border: 0.5px solid #8d8d8d9d;
  box-shadow: 0 0 5px rgba(70, 70, 70, 0.663); /* Optional: Add a glow effect */
}

#rescanBtn,
.select-folder-button {
  display: flex;
  justify-content: end;
  margin-left: 10px;
}

.back-button,
#rescanBtn,
.select-folder-button {
  padding: 8px 12px;
  background-color: #333; /* Lighter row */
  color: rgb(185, 185, 185);
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  text-align: justify;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
  color: rgb(212, 212, 212);
}

.clickable:hover {
  text-decoration: underline;
}

.select-folder-button {
  display: flex;
  justify-content: center;
}

.year-row {
  text-align: center;
  width: 10vw !important;
}

.song-list {
  margin-top: 30px;
  color: rgb(160, 164, 167);
}

.album-cover {
  width: 100%; /* Make it scale to the column size */
  max-width: 500px; /* Prevent it from getting too large */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure it fills the available space properly */
}

.clickable-song {
  cursor: pointer;
  color: rgb(205, 205, 205);
}

.song-duration {
  color: rgb(205, 205, 205);
}

.clickable-song:hover {
  color: rgb(120, 120, 120);
}

.clickable-song.playing {
  color: rgb(120, 120, 120);
}

.right-end-buttons {
  display: flex;
}

.toggle-album {
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.album-cover-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  margin-bottom: 10px;
}

.expanded-album {
  background-color: #222;
  display: column;
  align-content: start;
}

.playBtn,
.prevBtn,
.nextBtn {
  margin-right: 7px;
  font-size: small;
  width: 50px;
  height: 35px;
  background-color: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.prevBtn,
.nextBtn {
  margin: 7px 0px 0px 7px;
}

.audio-player {
  margin-left: 40px;
}

.expanded-cell {
  background-color: #222 !important;
  color: rgb(54, 54, 54);
  color: transparent !important;
  pointer-events: none;
}

.expanded-album-info {
  color: rgb(191, 191, 191);
  font-size: x-large;
  margin-bottom: 0px;
}

.expanded-album-label {
  color: rgb(149, 149, 149);
  font-size: medium;
  margin-top: 7px;
  margin-bottom: 20px;
}

tbody tr {
  transition: background-color 0.3s ease-in-out;
}

table {
  border-collapse: collapse; /* Removes spacing between cells */
  width: 100%; /* Ensures full width */
}

.audioInput {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 100%;
  height: 6px;
  background: #555;
  border-radius: 3px;
  outline: none;
  transition: opacity 0.2s;
}

.audioInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: rgb(185, 185, 185); /* Change circle color */
  border-radius: 50%;
  cursor: pointer;
}

.audioInput {
  width: 250px;
}

.row-dark {
  background-color: #222;
}

.row-light {
  background-color: #333;
}
